<h1>Modifier contact</h1>

<%= render 'form', personne: @personne %>
<br>
<%= link_to 'Afficher', @personne, class:"btn btn-secondary"  %> 
<%= link_to 'Retour', personnes_path, class:"btn btn-secondary"  %>
